<footer>
    <p>
        © {{ 'now' | date: "%Y" }} {{ site.title }}. All Rights Reserved. Made by 
        <a href="https://bitclout.com/u/kushagra">Kushagra Agarwal</a> and 
        <a href="https://bitclout.com/u/shubhamjain">Shubham Jain</a>.
        HODLing $100+ in $cloutsights coin? Get a free license by <a href="https://bitclout.com/u/cloutsights">messaging us on BitClout</a>.
    </p>

    <p>
        If you have any questions, concerns, or praises, please <a href="mailto:hi@cloutsights.com">send us an email</a>.
    </p>
</footer>