<footer>
    <p>
        © {{ 'now' | date: "%Y" }} {{ site.title }}. All Rights Reserved. Made by 
        <a href="https://bitclout.com/u/kushagra">Kushagra Agarwal</a> and 
        <a href="https://bitclout.com/u/shubhamjain">Shubham Jain</a>.
        Investing in $cloutsights coin will give you early access to new features and updates.
    </p>

    <p>
        If you have any questions, concerns, or praises, please <a href="mailto:hi@cloutsights.com">send us an email</a>.
    </p>
</footer>